[submodule "lib/undercore"]
	path = lib/undercore
	url = https://github.com/documentcloud/underscore.git
[submodule "lib/backbone"]
	path = lib/backbone
	url = https://github.com/documentcloud/backbone.git
